/* set padding for iOS7 status bar */
.ua-ios-7 .ui-page, .ua-ios-8, .ui-page {
    padding-top: 40px !important;
}

.ua-ios-7 .ui-header, .ua-ios-8 .ui-header {
    top: 20px;
}






<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN">
 <html>
 <head>
 <meta http-equiv="content-type" content="text/html;charset=shift_jis"><title>Sample</title>
 <style type="text/css"><!--
input
 {
 color: black;
 }
 input[type="text"]
 {
 color: black;
 border:0;
}

 input[type="text"]
{
padding:50px;
font-size:1.0em;
font-family:Arial, sans-serif;
color:black;
border:solid 1px #ccc;
margin:20px;
width:1px;
height:10px;
cols:1px;
}
 
 

input[type=checkbox] {
  transform: scale(1.6);
}



 
 --></style>
 </head>
 <body>
 <form>
 <input type="text" value="Sample"><br>
 <input type="button" value="Sample"><br>
 </form>
 </body>
 </html>




